@import url("https://fonts.googleapis.com/css?family=Sofia");

:root {
    --main-color: rgb(42, 40, 150);
}


html,
body {
    width: 100%;
    height: 100vh;
}

body {
    box-sizing: border-box;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-shrink: 0;
}

.result-container {
    background-color: rgb(8, 25, 70);
    flex-grow: 1;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1.2rem;
    height: 2rem;
    flex-direction: column-reverse;
}

.displayer {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/* .displayer span::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 510px;
    font-size: 1rem;
} */
.first-number {
    color: white;
}

/* .displayer span::after {
    content: 'after';
    position: relative;
    top: 50px;
    left: 510px;
    font-size: 1rem;
} */


.buttons-container {
    flex-grow: 1.5;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
}

.buttons-container>* {
    flex: 1 1 19%;
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.buttons-container button {
    border-radius: 10px;
    color: grey;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: inherit;
    outline: none;
    border: none;
    box-shadow: 0 9px #999;
    cursor: pointer;
}

.buttons-container button:hover {
    color: #b19d9d;
}

.buttons-container button:active {
    transform: translateY(-4px);
    box-shadow: 0 5px #999;
    background-color: rgba(245, 245, 243, 0);
}

.buttons-container :nth-last-child(1) button {
    background-color: red;
    color: white;
}

.buttons-container :nth-last-child(2) button {
    background-color: rgb(75, 80, 94);
    color: white;
}